@import url('app.css');

/* -------------------------------------------------------- */
/* PAGE SERVICES */
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */
header {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    background-color: #DADDC8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header p{
    /* font-family: 'Config Rounded', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 220px;
}
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* SECTION SERVICES */
/* -------------------------------------------------------- */
.services {
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.services h2 {
    /* font-family: 'Config Rounded', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}

.services-cards {
    width: 1340px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.services-cards a {
    text-decoration: none;
}

#visite-card, #train-card, #food-card {
    width: 400px;
    height: 300px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#visite-card p, #train-card p, #food-card p {
    /* font-family: 'Config Rounded', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 30px;
    text-align: left;
    opacity: 0;
    display: block;
}

#visite-card:hover, #train-card:hover, #food-card:hover {
    box-shadow: 5px 5px 2px -2px rgba(0, 0, 0, 0.2);
}

#visite-card:hover p, #train-card:hover p, #food-card:hover p {
    opacity: 1;
}
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* MEDIA SCREEN SERVICES */
/* -------------------------------------------------------- */
@media screen and (max-width: 1380px) {
    .services h2 {
        padding-bottom: 0;
    }
    
    .services-cards {
        width: 950px;
        height: auto;
        justify-content: space-around;
    }
    
    #visite-card, #train-card, #food-card {
        width: 300px;
        height: 200px;
        padding: 8px;
        border-radius: 10px;
    }

    #visite-card p, #train-card p, #food-card p {
        font-size: 26px;
    }
}

@media screen and (max-width: 968px) {
    .services {
        width: 100%;
        height: auto;
    }
    
    .services h2 {
        font-size: 26px;
        margin-bottom: 25px;
    }

    .services-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #visite-card, #train-card {
        margin-bottom: 25px;
    }
}
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* PAGE VISITE GUIDÉE */
/* -------------------------------------------------------- */
.visite-header {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.visite {
    width: 100%;
    height: auto;
    padding: 50px;
}

#visite-back-button {
    display: block;
    position: static;
    width: 50px;
    height: 50px;
    background-color: #1A7A30;
    /* font-family: 'Config Rounded', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 26px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: none;
    border-radius: 50px;
}

#visite-back-button:hover {
    background-color: #B6B61B;
}

.visite h2 {
    /* font-family: 'Config Rounded', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
    margin-top: -45px;
}

.visite p {
    line-height: 2;
    text-align: center;
}

#visite-place-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#visite-place-button button {
    background-color: #1A7A30;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
}

#visite-place-button button:hover {
    background-color: #B6B61B;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 850px) {
    .visite h2 {
        margin-top: 50px;
    }
    #visite-back-button {
        margin: auto;
    }
}
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* PAGE PETIT TRAIN */
/* -------------------------------------------------------- */
.train-header {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.train {
    width: 100%;
    height: auto;
    padding: 50px;
}

#train-back-button {
    display: block;
    position: static;
    width: 50px;
    height: 50px;
    background-color: #1A7A30;
    /* font-family: 'Config Rounded', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 26px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: none;
    border-radius: 50px;
}

#train-back-button:hover {
    background-color: #B6B61B;
}

.train h2 {
    /* font-family: 'Config Rounded', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
    margin-top: -45px;
}

.train p {
    line-height: 2;
    text-align: center;
}

#train-place-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#train-place-button button {
    background-color: #1A7A30;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
}

#train-place-button button:hover {
    background-color: #B6B61B;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 850px) {
    .train h2 {
        margin-top: 50px;
    }
    #train-back-button {
        margin: auto;
    }
}
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* PAGE RESTAURATION */
/* -------------------------------------------------------- */
.food-header {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.food {
    width: 100%;
    height: auto;
    padding: 50px;
}

#food-back-button {
    display: block;
    position: static;
    width: 50px;
    height: 50px;
    background-color: #1A7A30;
    /* font-family: 'Config Rounded', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 26px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: none;
    border-radius: 50px;
}

#food-back-button:hover {
    background-color: #B6B61B;
}

.food h2 {
    /* font-family: 'Config Rounded', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
    margin-top: -45px;
}

.food p {
    line-height: 2;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .food h2 {
        margin-top: 50px;
    }
    #food-back-button {
        margin: auto;
    }
}
/* -------------------------------------------------------- */